
.starter-template {
  padding: 0rem 1.5rem;
  text-align: center;
}
body {
	font-family: 'Average', sans-serif;
	padding-top: 2rem;
}
.resume {
	text-align: left;
	padding: 2rem 0;
}
h1 { font-size: 2rem; }
h1, h2 {
	color: #495057;
}
.resume h2 {
	margin-bottom: 1.25rem;
	position: relative;
	margin-left: 75px
}
.resume h5 {
	/*color: #721c44;*/
	color: #903e64;
	margin-bottom: 0;
}
.mediaicons a {
	display: inline-block;
	margin-right: 20px;
	margin-bottom:  0.75rem;
	color: black;
}
.lead, dt {
	color: #721c44;
}
.gradient {
	background-image: linear-gradient(#fff, #f0f0f0);
	border-bottom: 0.5px solid #ccc;

}
img {
	width:  100%;
}
.header-padding {
	margin-top: 2rem;
}
.header {
	text-align: center;
    display: inline-block;
    max-width: 100%;
    zoom: 1;
}
.header-content:after, .header-content:before {
    background: #49505761;
}
.header-content:before {
    right: 100%;
}
.header-content:after {
    left: 100%;
}
.header-content:after, .header-content:before {
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    width: 65px;
    zoom: 1;
}
.uconn img {
	display: block;
}
.job {
	margin-bottom: 1.5em;
}
.purple {
	color: #903e64;
}
.ip {
	text-align: left;
	padding-left:  0;
}
.panel {
	text-align: center;
}
.panel img {
	max-width: 375px;
	
}

@media (max-width: 768px) {
    .ip {text-align: center; padding-left: 15px;}
    h1 {margin-top: 0.5rem;}
}
@media (min-width: 992px) {
    h1 {margin-top: 2rem;}
} 
@media (min-width: 1200px) {
     h1 {margin-top: 3rem;}
}
